<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add-course</title>
  <link rel="stylesheet" href="static/css/add-course.css">
</head>
<body background="static/image/register.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%;
background-attachment: fixed;">
<header>
  <nav>
    <div class="logo">Gymnasium reservation system</div>
    <div class="mobile-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="nav-list">
      <li><a href="tindex">Home</a></li>
      <li><a href="tvenue">Venue</a></li>
      <li><a href="tmanage">Course</a></li>
      <li><a href="add-course">Add-course</a></li>
      <li><a href="personal">Personal</a></li>
      <li><a href="login">Exit </a> </li>
    </ul>
  </nav>
</header>
<center>
  <div class="content">
    <h4>Add course</h4>
  </div>
  <div class="container">
    <div class="header">
      <h2>Course Information</h2>
    </div>
    <form id="form" class="form1" novalidate>
      <div class="form-control">
        <input type="text" placeholder="course name" id="course-name" />
        <small class="error-message"></small>
      </div>

      <div class="form-control">
        <input type="text" placeholder="student number" id="student-number" />
        <small class="error-message"></small>
      </div>
      <div class="form-control">
        <label for="exampleInputCourseTime1">Course time</label>
        <select name="timeid" class="form-control1" id="exampleInputCourseTime1">
          <option th:value="${time.getId()}" th:each="time : ${time_list}" th:text="${time.getTime()}">08:00-09:35 Mon</option>
        </select>
      </div>
      <div class="form-control">
        <label for="exampleInputVenue1">Free venue:</label>
        <select name="venueid" class="form-control1"  id="exampleInputVenue1">
          <option th:value="${venue.getId()}" th:each="venue : ${venue_list}" th:text="${venue.getVenue_name()}">Badminton court</option>
        </select>
      </div>
      <button>Submit</button>
    </form>
  </div>
</center>
<script src="static/js/add-course.js"></script>
</body>
</html>
