*{
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

/*
a:hover{
  opacity: 0.7;
  background-color: #E68864;
  border-radius: 40px;
  padding: 15px 20px;
  transition: 0.5s;
  color: honeydew;
  opacity: 1;
}
*/
a:hover::before{
  top: -10%;
  left: -10%;
}


.nav-list a{
  /* 相对定位 */
  position: relative;
  /* 将a标签转为块级元素,不然无法设置宽高 */
  display: block;
  width: 90px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 30px;
  color: chocolate;
  text-decoration: none;
  font-size: 20px;
  /* 动画过渡，延迟时间 */
  transition: all 0.09s ease-in-out 0.09s;
  /* 我们是如果改变a标签的颜色 */
  /* hue-rotate是颜色滤镜.可以加不同的度数来改变颜色.这里我们用的是calc自动计算函数 */
  /* 以及var函数来调用我们给每一个a元素设置的不同的自定义属性1~5，然后分别乘以60度，就能够分别得到不同的颜色 */
  filter: hue-rotate(calc(var(--i)*60deg));
}
/* 这里将两个伪元素的相同样式写在一起 */
.nav-list a::before,
.nav-list a::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px chocolate;
  /* 这里加一个动画过渡
  最后的0.2秒时延迟时间 */
  transition: all 0.2s ease-in-out 0.2s;
  opacity: 1;
}

.nav-list a::before{
  top: 0;
  left: 0;
  /* 删除左边元素的右边框和下边框 */
  border-right: 0;
  border-bottom: 0;
}

.nav-list a::after{
  right: 0;
  bottom: 0;
  /* 删除右边元素的左边框和上边框 */
  border-left: 0;
  border-top: 0;
}

.nav-list a:hover{
  background-color:#E68864;
  color: white;
  box-shadow: 0 0 50px white;
  /*-webkit-box-reflect: below 1px linear-gradient(transparent,rgba(0,0,0,0.3));*/
  transition-delay: 0.02s;
}

.nav-list a:hover::before,
.nav-list a:hover::after{
  width: 98px;
  height: 58px;
  transition-delay: 0s;
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: blanchedalmond;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #888888;
  height: 8vh;
}

.nav-list{
  /* 使黑点消除 */
  list-style: none;
  display: flex;
}

.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu{
  display: none;
  cursor: pointer;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* 开始响应式设计 */
@media(max-width:999px){
  body{
    overflow-x: hidden;
  }
  .nav-list{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 30vw;
    height:92vh;
    background:#888888;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li{
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu{
    display: block;
  }

  .nav-list.active{
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.mobile-menu.active .line1{
  transform:  rotate(-45deg) translate(-9px ,8px);
}
.mobile-menu.active .line2{
  opacity: 0;
}
.mobile-menu.active .line3{
  transform:  rotate(45deg) translate(-5px ,-6px);
}
.content {
  margin-top:3%;
}
table {
  border-collapse: collapse;
  width: 70%;
  text-align:center;
  background-color:white;
  margin-top:20px;

}

th, td {
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;
}
th {
  background-color: #E68864;
  color: white;
}
.course a{
  color:#E68864;
  background:transparent;
  width:60px;
}
h4{
  font-size:30px;
  color:white;
}
.btn1{
  width: 80px;
  height: 39px;
  background-image:linear-gradient(to right, #03c8a8, #89d8d3 , #03c8a8);
  background-size: 200%;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins',sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  transition: .5s;
  color: #fff;
  cursor: pointer;
}

.btn1:hover{
  background-position: right;

}

form{
  margin: 10px;
  text-align: center;
  color:black;
  line-height: 65px;
  width: 520px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid rgb(190, 190, 214);
  background-color:white;
}
.form-group{
  background:transparent;
  height:80px;
  font-size:23px;
  font-weight:500;
}
.form-control{
  height:30px;
  border-radius: 10px;
  width:50%;
  border: 2px solid rgb(190, 190, 214);
}
.btn2{
  width: 278px;
  height: 45px;
  background-image:linear-gradient(to right, #03c8a8, #89d8d3 , #03c8a8);
  background-size: 200%;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins',sans-serif;
  text-transform: uppercase;
  margin: 4rem 0;
  transition: .5s;
  color: #fff;
  cursor: pointer;
}
.btn2:hover{
  background-position: right;

}

.wave{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
label{
  width: 200px;
  display: inline-block;
  text-align: right;
  padding-right: 3px;
}



*{
  /* 初始化 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root选择器是匹配文档根元素 */
:root{
  /* 声明自定义属性 */
  --rotate-arrow:0;
  --dropdown-height:0;
  --list-opacity:0;
  --translate-value:0;
  --floating-icon-size:26;
  --floating-icon-top:0;
  --floating-icon-left:0;
}


html{
  font-size: 80%;
}
/*
body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222429;
  padding: 1.5rem;
  line-height: 1.4rem;
  text-align: center;
}
*/
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding-top: 10px;
}
svg{
  width: 1.6rem;
  height: 1.6rem;
}
.text-truncate{
  /* 超出显示省略号 */
  text-overflow: ellipsis;
  overflow: hidden;
  /* 不换行 */
  white-space: nowrap;
}

.dropdown-title-icon,
.dropdown-arrow{
  display: inline-flex;
}
.dropdown-title{
  margin: 0 auto 0 1.8rem;
}
.dropdown-button{
  font-weight: 400;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  padding: 0 1.8rem;
}
.dropdown-button svg{
  /* 填充颜色 */
  fill: #b1b8ca;
  /* 设置过渡: 全部 时长 贝塞尔曲线 */
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dropdown-button svg,
.dropdown-button span{
  /* 元素不对指针事件做出反应 */
  pointer-events: none;
}
.dropdown-button:hover,
.dropdown-button:focus{
  color: white;
}
.dropdown-button:hover svg,
.dropdown-button:focus svg{
  fill: #fff;
}
.main-button{
  height: 5rem;
  color: #b1b8ca;
  border-radius: 1.4rem;
  border: 0.1rem solid #ffffff;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main-button:focus{
  border: 0.2rem solid #BE6549;
  box-shadow: 0 0 0 0.1rem #F59B6B;
}
.main-button .dropdown-arrow{
  margin-left: 1.8rem;
  /* 通过var函数调用自定义属性,设置旋转角度 */
  transform: rotate(var(--rotate-arrow));
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.list-button{
  height: 4.6rem;
  color: #b1b8ca;
  /* 溢出隐藏 */
  overflow: hidden;
  transition: color 0.24s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dropdown-list-container{
  overflow: hidden;
  max-height: var(--dropdown-height);
  transition: max-height 0.24s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dropdown-list-wrapper{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #333740;
  border-radius: 1.4rem;
  border: 0.1rem solid #494d59;
  position: relative;
}
ul.dropdown-list{
  position: relative;
  list-style-type: none;
}
ul.dropdown-list::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  height: 4.6rem;
  background-color: #2b2e34;
  border-radius: 1.4rem;
  pointer-events: none;
  transform: translateY(var(--translate-value));
  transition: all 0.24s linear;
}
li.dropdown-list-item{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  opacity: var(--list-opacity);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.floating-icon{
  width: calc(var(--floating-icon-size) * 1px);
  height: calc(var(--floating-icon-size) * 1px);
  position: absolute;
  left: var(--floating-icon-left);
  top: var(--floating-icon-top);
  background-color: #494d59;
  border-radius: 1rem;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.floating-icon svg{
  fill: #fff;
}
ul.dropdown-list:hover::before,
ul.dropdown-list:hover ~ .floating-icon{
  opacity: 1;
}


*{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}



.title{
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  border-bottom: 1px solid #ffffff;
  position: relative;
  cursor: move;
}

.dropdown-container{
  margin-top: 1vh;
  line-height: 300px;
}


.login >button.btn{
  position: relative;
  width: 300px;
  height: 35px;
  line-height: 40px;
  background-image:linear-gradient(to right, #03c8a8, #89d8d3 , #03c8a8);
  background-size: 200%;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins',sans-serif;
  text-transform: uppercase;
  margin: 1rem 0 auto;
  padding-right: 0;
  padding-bottom: 50px;
  transition: .5s;
  color: #fff;
}
.btn:hover{
  background-position: right;

}



.dropdown-container>button.main-button{
  line-height: 30px;
  margin: 0 auto;
}

.title a{
  display: block;
  position: fixed;
  font-size: 20px;
  font-weight: 500;
  top: 1px;
  right: 50px;
  z-index: 9999;
  color: #BE6549;
}

.title a:hover,
.title a:focus{
  color: white;
  transition: 0.4s;
}


.bg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left:0px;
  background: rgb(0,0,0,.4);
  z-index: 9998;
  display: none;
}
.login{
  width: 600px;
  height: 500px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  background: #555555;
  display: none;
  border-radius: 1.5rem
}


